.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/board.jpg');
    background-position: center;
    background-size: cover;
}

.card-stack {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 120px;
        position: absolute;
    }
}